body{
    background-color: rgb(194, 204, 204);
}

h1,
h2,
h3,
.green {
    color: hwb(80 14% 44%);
    font-family: fantasy;
}
h1 {
    font-size: 38px;
}
p {
    font-style: italic;
}
div {
    text-align: left;
    margin-bottom: 10px;
  }
.list {
    font-size: 24px;
    padding: 30px;
    display: block;
}
.thumbnail {
 padding-right: 10px;
 height: 100px;  
 width: auto;
}